
/* reponsive */
@media (max-width: 992px){.container {max-width: 95%;}}
@media (max-width: 576px){.container {max-width: 100%;}}
@media (min-width: 1200px){
    .container{max-width: 1200px;}
}

@media (max-width: 1200px){
    body {font-size: 14px;}

    /* menu */
    #wrap-nav li {padding: 10px 15px;}
    /* brand */
    section#brand_menu .wrap-menu-brand .item-menu-brand {padding:0 10px}
    section#brand_menu .wrap-menu-brand .item-menu-brand svg{width: 40px;}
    section#brand_menu .wrap-menu-brand .item-menu-brand span {font-size: 14px;margin-left: 15px;}
    /* download */
    form.wrap-form .box-download .item-download {padding:20px 15px!important}
    main#main form.wrap-form .box-download h2.font-bold {font-size: 14px;margin-top: 5px;}
}
@media (max-width: 992px){
    #wrap-nav li svg, #wrap-nav li img {margin-right: 5px;height: 15px;}
    .table td:first-child {padding-left: 20px;}
    .table td:last-child {padding-right: 20px;}
    .image-team {margin-right: 5px!important;}
    #wrap-nav li {padding: 10px 12px;}
    /* brand */
    section#brand_menu .wrap-menu-brand .item-menu-brand {flex-direction: column;}
    section#brand_menu .wrap-menu-brand .item-menu-brand span {margin: 0;margin-top: 10px;}
    /* download */
    form.wrap-form .box-download .item-download .btn{font-size: 14px!important;}
    form.wrap-form .form-row>[class*=col]{padding-left: 15px;padding-right: 15px;}
}
@media (max-width: 768px){
    /* header */
    header#header .container a{text-align: center;}
    header#header img#img_bar{display: inline-block;position: absolute;top: 50%;left: 15px;transform: translateY(-50%);}

    /* menu */
    #nav-sitebar{position: absolute;top: 0;left: 0;padding:0;z-index: 1;width:240px;max-width: 240px;transform: translateX(-100%);}
    #nav-sitebar nav#wrap-nav{height: 100vh;}
    #nav-sitebar nav#wrap-nav ul {border: none;}
    #wrap-nav li.active, #wrap-nav li:hover{background-color: #6AC3B9;}
    #wrap-nav li.menu-icon-logo:hover {background-color: #FFFFFF;}
    #wrap-nav li.active a, #wrap-nav li:hover a{color: #FFFFFF;}
    #wrap-nav li.menu-icon-logo:hover a{color: #FFFFFF;}
    #wrap-nav li.menu-icon-logo{display: flex;justify-content: space-between;align-items: center;}
    #wrap-nav li.menu-icon-logo a{padding:11px 0}
    #wrap-nav li.menu-icon-logo a img{height: auto;}
    #wrap-nav li.menu-icon-logo #close-menu{width:auto;height: auto; position: relative;}
    #wrap-nav li.active svg path, #wrap-nav li:hover svg path {fill: #FFFFFF;}

    /* wrap-main */
    main#main #wrap-main{width:100%;max-width: 100%;flex: 100%;}

    /* page */
    main#main section .wrap-list-team .title-team {font-size: 16px;}
    section .wrap-misson-small {padding:30px 30px 25px}

    /*user*/
    main#main .wrap-list-user .wrap-button .button-border {position: relative;right: 0;}
    main#main .wrap-list-user .wrap-button {padding: 0 20px;}
    main#main .wrap-list-user .wrap-button a{font-size: 14px;display: inline-flex;align-items: center;justify-content: center;margin:10px 5px}

    /* team-detail */
    main#main section .detail-select {padding: 20px;}

    /* brand */
    .wrap-brand-detail .title-brand-detail {display: flex;flex-direction: column-reverse;margin-bottom: 10px;}
    main#main .button-absolute {right: 0; position: relative; margin-bottom: 30px;}
    main#main .question-wraper .button-absolute{position: absolute;}
    section#brand_menu .wrap-menu-brand .item-menu-brand {max-width: 300px;margin: 0 auto;margin-bottom: 30px; flex-direction: row;}
    section#brand_menu .wrap-menu-brand .item-menu-brand span {margin-top:0; margin-left: 10px;}
    main#main .box-main-new {padding:20px}
    /* DOWNLOAD */
    form.wrap-form .box-download{margin-bottom: 30px;}
    /* misson */
    main#main .box-main-new label a.delete-question {position: absolute;}
    main#main .title-brand .btn {position: relative;top: 0;  right:0; display: block;}
    section#wrap-misson-detail .detail-base .box-text {padding: 0 10px;}
    .detail-title-misson h3 {margin-top: 35px;}
    main#main .wrap-list-user .wrap-button.misson-base-title {flex-direction: column;}
    main#main .wrap-list-user .wrap-button.misson-base-title h2 {position: relative;left: 0;margin-bottom: 15px;margin-top: 20px;}
    /* program */
    main#main section .list-program, main#main section .list-file {overflow-x: scroll;}
    main#main section .list-program .table, main#main section .list-file .table{width: 140%;min-width: 400px;}
    /*  */
    section#misson-base-new{padding: 0 20px}
}
@media (max-width: 576px){
    button.btn, a.btn{font-size: 14px!important;}
    main#main .wrap-brand-detail {padding: 15px 30px 35px;}
}
@media (max-width: 450px){
    section .wrap-misson-small{margin-left: 15px; margin-right: 15px;width: calc( 100% - 30px )}
    form.wrap-form .drop-file .drop-image span {display: block;margin-top: 10px;}
    .wrap-button{padding:0 20px}
    main#main .table td.box-name img {max-width: 65px;height: 43px;}
    .get-date-download{flex-direction: column;}
}




